summary {
  display: list-item;
}

textarea {
  resize: vertical;
}


.progress-bar {
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 0, 0, 0.7);
}

.progress-bar.animated::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient( 90deg, rgba(233, 233, 233, 1) 0, rgba(233, 233, 233, 0.9) 50%, rgba(233, 233, 233, 0.8) 100% );
    -webkit-animation: barAnim 3s ease-out infinite;
    animation: barAnim 3s ease-out infinite;
    content: "";
}

@keyframes barAnim {
    100% {
        transform: translateX(0%);
        opacity: 0;
    }
}

.admin-checkbox {
    transform: translateY(-3px);
}

.admin-checkbox input {
    display: none;
}

.admin-checkbox input:checked ~ label::after {
    background-color: #0989FF;
    border-color: #0989FF;
}

.admin-checkbox input:checked ~ label::before {
    visibility: visible;
    opacity: 1;
}

.admin-checkbox label {
    font-size: 15px;
    color: #55585B;
    position: relative;
    padding-left: 26px;
    z-index: 1;
}

.admin-checkbox label.text-tiny {
    font-size: 13px;
}

.admin-checkbox label::after {
    position: absolute;
    content: "";
    top: 4px;
    left: 0;
    width: 18px;
    height: 18px;
    line-height: 16px;
    text-align: center;
    border: 1px solid #E4E4E4;
    z-index: -1;
    -webkit-transition: all 0.2s 0s ease-out;
    -moz-transition: all 0.2s 0s ease-out;
    -ms-transition: all 0.2s 0s ease-out;
    -o-transition: all 0.2s 0s ease-out;
    transition: all 0.2s 0s ease-out;
    border-radius: 4px;
}

p{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #55585B;
  margin-bottom: 15px;
}

.admin-checkbox label::before {
    position: absolute;
    content: url("../img/product/icons/check.svg");
    top: 4px;
    left: 0;
    width: 18px;
    height: 18px;
    line-height: 16px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    color: #fff;
    -webkit-transition: all 0.2s 0s ease-out;
    -moz-transition: all 0.2s 0s ease-out;
    -ms-transition: all 0.2s 0s ease-out;
    -o-transition: all 0.2s 0s ease-out;
    transition: all 0.2s 0s ease-out;
}

.admin-checkbox label a:hover {
    color: #0989FF;
}

.admin-checkbox label:hover {
    cursor: pointer;
}

.admin-checkbox-secondary input {
    display: none;
}

.admin-checkbox-secondary label {
    display: block;
}

.admin-checkbox-secondary input:checked ~ span::after {
    background-color: #0989FF;
    border-color: #0989FF;
}

.admin-checkbox-secondary input:checked ~ span::before {
    visibility: visible;
    opacity: 1;
}

.admin-checkbox-secondary span {
    font-size: 15px;
    color: #55585B;
    position: relative;
    padding-left: 26px;
    z-index: 1;
}

.admin-checkbox-secondary span::after {
    position: absolute;
    content: "";
    top: 4px;
    left: 0;
    width: 18px;
    height: 18px;
    line-height: 16px;
    text-align: center;
    border: 1px solid #E4E4E4;
    z-index: -1;
    -webkit-transition: all 0.2s 0s ease-out;
    -moz-transition: all 0.2s 0s ease-out;
    -ms-transition: all 0.2s 0s ease-out;
    -o-transition: all 0.2s 0s ease-out;
    transition: all 0.2s 0s ease-out;
    border-radius: 4px;
}

.admin-checkbox-secondary span::before {
    position: absolute;
    content: url("../img/product/icons/check.svg");
    top: 4px;
    left: 0;
    width: 18px;
    height: 18px;
    line-height: 16px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    color: #fff;
    -webkit-transition: all 0.2s 0s ease-out;
    -moz-transition: all 0.2s 0s ease-out;
    -ms-transition: all 0.2s 0s ease-out;
    -o-transition: all 0.2s 0s ease-out;
    transition: all 0.2s 0s ease-out;
}

.admin-checkbox-secondary span a:hover {
    color: #0989FF;
}

.admin-checkbox-secondary span:hover {
    cursor: pointer;
}

.select-bordered .choices[data-type*="select-one"]::after {
    right: 15px;
}

.select-bordered .choices__inner {
    height: 44px;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    padding-left: 15px !important;
}

.profile-gender-select.select-bordered .choices__inner {
    border: 1px solid #EFF2F5;
    height: 49px;
}

.profile-gender-select.select-bordered .choices__list--single {
    height: 49px;
    line-height: 47px;
}

.offcanvas-area.offcanvas-opened {
    transform: translateX(0);
}

.body-overlay.opened {
    visibility: visible;
    opacity: .7;
}

.tpSlideDownTarget {
    transition: height 0.35s ease-in-out;
    overflow: hidden;
}

.tpSlideDownTarget:not(.active) {
    display: none;
}

.tpSlideDownBtn.active {
    background-color: red;
}

.tpSlideDownBtn.active .dropdown-arrow {
    transform: rotate(90deg);
}

.choices[data-type*="select-one"]::after {
    border: 0;
    background-color: transparent;
    transform: translateY(-50%);
    margin-top: 0;
    right: 0;
    content: '';
    transform-origin: center;
    color: #616266;
    font-weight: 500;
    height: auto;
    width: auto;
    transition: transform .2s ease-in-out;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #777778;
    top: 48%;
}

.choices.is-open[data-type*="select-one"]::after {
    transform: translateY(-50%) rotate(-180deg);
}

.choices[data-type*="select-one"].is-open::after {
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: #777778;
    margin-top: 0;
}

.choices__inner {
    min-width: 75px;
    height: 38px;
    background-color: transparent;
    border: none;
    border-radius: 6px;
    padding: 0 !important;
    padding-right: 16px !important;
    transition: all .3s ease-in-out;
    padding: 0;
    font-size: 12px;
    font-weight: 500;
}

.choices.is-focused .choices__inner {
    background-color: transparent;
    border-color: rgba(239, 242, 245, 1);
}

.choices.is-open .choices__inner {
    background-color: transparent;
    border-color: 1px solid rgba(239, 242, 245, 1);
}

.choices__item.choices__item--selectable {
    color: #121420;
}

.choices__list--single {
    padding: 0 0;
    height: 44px;
    line-height: 42px;
}

.choices__list--dropdown, 
   .choices__list[aria-expanded] {
    transition: all .3s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.is-active.choices__list--dropdown, 
   .is-active.choices__list[aria-expanded] {
    visibility: visible;
    opacity: 1;
}

.is-flipped.is-open .choices__inner {
    border-radius: 6px;
}

.choices__list--dropdown, 
.is-flipped .choices__list[aria-expanded],
 .choices__list[aria-expanded] {
    background-color: #fff;
    border: 1px solid rgba(239, 242, 245, 1);
    border-radius: 6px;
    min-width: 150px;
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
    padding: 0;
    padding-left: 16px;
    padding-bottom: 3px;
    color: #777778;
}

.choices__list.choices__list--dropdown {
    padding: 8px 0;
}

.choices__list.choices__list--dropdown {
    left: auto;
    right: 0;
}

.choices[data-type*="select-one"] .choices__input {
    display: none;
}

.choices__item.choices__item--choice.is-selected {
    color: #0989FF;
}

.choices__item.choices__item--choice:hover {
    color: #0989FF;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted::after, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted::after, .choices__placeholder {
    opacity: 1;
}

.is-open .choices__list--dropdown, .is-open .choices__list[aria-expanded] {
    border-color: rgba(239, 242, 245, 1);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    color: #0989FF;
}

.tags-input-wrapperss {
    background: transparent;
    padding: 10px;
    border-radius: 4px;
    max-width: 400px;
    border: 1px solid #ccc;
}

.tags-input-wrapper input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    padding: 5px 20px;
    border: 1px solid #EFF2F5;
    border-radius: 6px;
    margin-top: 5px;
}

.tags-input-wrapper input:focus {
    border-color: #0989FF;
}

.tags-input-wrapper .tag {
    display: inline-block;
    background-color: #f4f4f4;
    color: #010F1C;
    border-radius: 6px;
    padding: 5px 3px 2px 13px;
    margin-right: 5px;
    margin-bottom: 5px;
    line-height: 1;
}

.tags-input-wrapper .tag b {
    margin: 0 7px 3px;
    display: inline-block;
    cursor: pointer;
    font-weight: 400;
}

progress {
  vertical-align: baseline;
}


*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: currentColor;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

.admin-main-btn{
  display: inline-flex;
  align-items: center;
  border-radius: 6px;
  --tw-bg-opacity: 1;
  background-color: rgb(9 137 255 / var(--tw-bg-opacity));
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.025em;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}


ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}
