@tailwind base;
@tailwind components;
@tailwind utilities;

[hidden] {
  display: none;
}

html, body {
  @apply font-poppins font-normal text-base leading-6 text-gray-600
}

:-moz-focusring {
  @apply outline-none
}

:-moz-ui-invalid {
  @apply shadow-none
}

.admin-main-btn {
  @apply inline-flex items-center rounded-[6px] bg-bg-blue-500 py-[1.25rem] px-[2.25rem] text-[14px] fw-[500] text-white tracking-tighter
}

.admin-main-btn:hover{
  @apply bg-blue-500
}

input::-moz-placeholder, textarea::-moz-placeholder {
  @apply text-[#9ca3af] 
  /* gray 400 color. */
}

input::placeholder,
textarea::placeholder {
  @apply text-[#9ca3af] resize-y
}

:disabled {
  @apply cursor-auto
}


abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  @apply text-current no-underline
}

table {
  @apply text-indent-0 border-transparent border-collapse
}

.admin-btn{
  @apply inline-flex items-center rounded-md bg-blue-500 py-1 px-5 text-sm font-medium tracking-tight text-white
}


::-webkit-search-decoration {
  @apply appearance-none
}

::-webkit-file-upload-button {
  @apply appearance-none font-inherit
}